
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
.heading {
  padding: 40px 0 25px;
}

.alert, .alert-horizontal {
  margin: 10px 0;
}

#footer > .container {
  /* Align with the navbar container */
  padding-left: 15px;
  padding-right: 15px;
}

.footer-content {
  margin: 15px 0;
  color: #999;
}

.btn-controls-primary {
  font-size: 14px;
}
.btn-controls-secondary {
    padding: 5px 10px;
}

/* Bootstrap's example styles
-------------------------------------------------- */
/*.bse-buttons > .btn,
.bse-buttons > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}*/

.bs-thumbnails > div {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f8f8f8;
}

.header {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    border: 1px solid rgba(61,70,77,0.1);
}

/* Sidebar styles
-------------------------------------------------- */
.sidebar {
  padding-left: 20px;
}

.sidebar .nav > .active > ul {
  display: block;
}

.sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #333;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #333;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-left: 2px solid #333;
}

.sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

.sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}
.sidebar .nav .nav > li > a:hover,
.sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.sidebar .nav .nav > .active > a,
.sidebar .nav .nav > .active:hover > a,
.sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
  padding-left: 28px;
}

.back-to-top {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover {
  text-decoration: none;
  color: #333;
}

/* Banner
-------------------------------------------------- */
.banner {
  width: 200px;
  margin-top: 20px;
}
.banner a {
  font-size: 85%;
  color: #999;
}
.banner a:hover,
.banner a:active {
  color: #333;
  text-decoration: none;
}
.banner-thumbnail {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url(http://anvoz.github.io/world-js/images/thumb.png);
  background-position: -160px -60px;
}

/* HTML inspector button styles
-------------------------------------------------- */
.js-html-inspector {
  position: relative;
}
.js-html-inspector .js-btn-inspector {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  background-color: #fff;
}
.js-html-inspector:hover .js-btn-inspector {
  display: block;
}
#dialog-html-inspector code {
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
}


.row{
    margin-left:0px;
    margin-right:0px;
}


/* Side Bar Toggle
-------------------------------------------------- */
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -300px;
    left: 70px;
    width: 300px;
    background: #1F2D3D;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    overflow-y: auto;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 300px;
}
#wrapper.active #sidebar-wrapper {
    left: 300px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    text-decoration: none;
    width: 300px;
    background: transparent;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #FFF;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.sidebar-nav li a:hover {
  color: rgba(255,255,255,0.8);
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.container {
  width: inherit;
}
.dropdown-menu {
  min-width: 270px;
}
#main_icon
{
  float:right;
   padding-right: 30px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 30px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}


/********** User Profile **********/

#user-profile
{
    float: right;

    margin: 10px 0;
}

#user-profile > a
{
    display: table;

    padding: 5px 15px;

    color: #555;
    border-radius: 5px;
}

#user-profile.open > a,
#user-profile > a:hover,
#user-profile > a:focus
{
    background-color: #f0f0f0;
}

.user-avatar
{
    float: left;

    margin-right: 10px;
}

.user-avatar img
{
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.user-details
{
    line-height: 1.25em;

    float: left;

    padding: 2.5px 0;
}

.user-name
{
    font-size: 15px;
    line-height: 20px;
}

.user-company
{
    font-size: 12px;
    line-height: 15px;
}

/********** Search Box **********/


.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 40px;
    font-size: 16px;
    padding: 10px 16px 10px 40px;
    border-radius: 50px;
    width: 100%;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 50px;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 0px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
    border-radius: 50px;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}



/*------------------*/
.chart {
  display: inline-block;
  width: 120px;
  margin: 10px 20px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage {
  font-size: 31px;
}

sup {
  top: -11px;
  margin-left: 1px;
  font-size: 14px;
  position: relative;
}

.ctrl {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
}
.ctrl span {
  cursor: pointer;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
  color: #000;
}

.meta {
  margin: auto;
  max-width: 280px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
  color: #c9cccb;
}
p a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
p + p {
  padding-top: 5px;
  padding-bottom: 20px;
}




/********** Storage Status **********/

#status-storage {
  padding: 0px 20px;
  border-bottom: 0px;
  /*background-color: #192533;*/
}

#status-storage .section-title,
#status-storage .section-title h3,
#status-storage .section-body,
#status-storage .section-footer  {
  color: #fff;
  padding: 5px 0px;
}

#status-storage .section-title {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#status-storage .caption {
    color: #FFF;
    font-size: small;
}


#status-storage {
  margin: 0px;
}

/********** Side Navigation Accordion **********/


#accordion .panel, #accordion .panel-heading {
  background: #293d52;
  color: #fff;
  border: 0px;
  margin: 1px;
}

#accordion .panel-title {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#accordion .panel-heading + .panel-collapse > .panel-body, 
#accordion .panel-heading + .panel-collapse > .list-group {
  border: 0px;
}
#accordion  .table > thead > tr > th,
 #accordion .table > thead > tr > td,
  #accordion .table > tbody > tr > th,
   #accordion .table > tbody > tr > td,
    #accordion .table > tfoot > tr > th,
     #accordion .table > tfoot > tr > td {
      border: 0px;
      padding: 0px;
      color: #fff;
     }
#accordion  .table > thead > tr > th a,
 #accordion .table > thead > tr > td a,
  #accordion .table > tbody > tr > th a,
   #accordion .table > tbody > tr > td a,
    #accordion .table > tfoot > tr > th a,
     #accordion .table > tfoot > tr > td a{
      color: #fff;
      padding-left: 20px;
     }

#accordion .table {
  background-color: transparent;
}

#accordion .panel-body {
  padding: 0px;
}

.more-less, .icon-padding  {
  padding-right: 10px;
}

i {
  opacity: 0.6;
  padding-right: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #FFF;
  border-bottom: 5px solid #d71c2b;
  background: #06364e;
}
.nav-tabs > li > a > i {
  font-size: 20px;
  opacity: 1;
}
.nav-tabs > li:first-child {
}

.nav-tabs > li > a {
  padding: 10px 0px;
}

.nav-tabs {
  margin-bottom: 0px;
  border-bottom: 1px solid #333;
}


 .table-hover > tbody > tr:hover > td .dropdown a {
    color: #333;
    font-size: small;
 }
 .table-hover > tbody > tr > td .dropdown .dropdown-menu a {

    padding:  0px 10px;
 }
 .table-hover > tbody > tr > td .dropdown .dropdown-menu a:hover {
  background-color: #78909c;
  color: #fff;
 }

  .table-hover > tbody > tr:hover > td .dropdown-menu {
    min-width: 150px;
 }

.dropdown-menu {
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
}

.section-body {
  margin-bottom: 0px;
}