<!--     <footer class="footer footer-default footer-fixed">

      <div class="container">
        <a class="footer-brand" href="index.html">
          <img src="img/tm-logo.svg" onerror="this.src='img/tm-logo.png';">
        </a>
        <div class="footer-menu">
          <ul class="nav footer-nav">
            <li><a href="">TrendLabs Studio</a></li>
          </ul>
        </div>
        <div class="footer-text">
          Copyright © 2017 Trend Micro Incorporated. <br />All rights reserved.
        </div>
      </div>

    </footer> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/extra.js"></script>