<ul>
							      <li><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Download</a></li>
							      <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a></li>
							      <li><a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i> Preview</a></li>
							      <li class="divider"></li>
							      <li><a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Copy Short Url</a></li>
							      <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
							      <li class="divider"></li>
							      <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More Actions</a></li>
							    </ul>