  <div class="tab-pane active" id="js-tab-pane1">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#account-storage-info"><i aria-hidden="true" class="more-less fa fa-angle-right"></i>&nbsp;Account Storage</a></h4>
          </div>
          <div class="panel-collapse collapse" id="account-storage-info">
            <div class="section section-default" id="status-storage">
              <div class="section-heading"></div>
              <div class="section-body">
                <div class="chart">
                  <div class="percentage" data-percent="88">
                    <span></span><sup>%</sup>
                  </div>
                </div>
                <div class="caption">
                  <i aria-hidden="true" class="fa fa-info-circle"></i> <strong>590MB</strong> used out of 700 MB
                </div>
                <div class="section-footer">
                  <a class="btn btn-success btn-sm">Upgrade Now <i aria-hidden="true" class="fa fa-arrow-up"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion4" data-toggle="collapse" href="#fave-folders"><i aria-hidden="true" class="more-less fa fa-angle-right"></i>&nbsp;Favorites</a></h4>
          </div>
          <div class="panel-collapse collapse" id="fave-folders">
            <div class="section section-default" id="status-storage">
              <div class="section-body">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Documents</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Presentations</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Presentations</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Presentations</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#all-folders"><i aria-hidden="true" class="more-less fa fa-angle-right"></i>&nbsp;Folders</a></h4>
          </div>
          <div class="panel-collapse collapse" id="all-folders">
            <div class="section section-default" id="status-storage">
              <div class="section-body">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion2" data-toggle="collapse" href="#collapseOne2"><i aria-hidden="true" class="fa fa-angle-right"></i> All Folders</a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne2">
                  <div class="panel-body">
                    <table class="table">
                      <tr>
                        <td>
                          <a data-parent="#accordion3" data-toggle="collapse" href="#sub-folder-one"><i aria-hidden="true" class="fa fa-angle-right"></i> <strong>Pictures</strong></a>
                          <div class="panel-collapse collapse" id="sub-folder-one">
                            <div class="panel-body" style="padding-left: 30px;">
                              <table class="table">
                                <tr>
                                  <td>
                                    <a data-parent="#accordion4" data-toggle="collapse" href="#sub-folder-two"><i aria-hidden="true" class="fa fa-angle-right"></i> <strong>For Work</strong></a>
                                    <div class="panel-collapse collapse" id="sub-folder-two">
                                      <div class="panel-body" style="padding-left: 40px;">
                                        <table class="table">
                                          <tr>
                                            <td>
                                              <a><i aria-hidden="true" class="fa fa-folder-o"></i> PowerBox</a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Projects</a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Travels</a>
                                            </td>
                                          </tr>
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Personal</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Travels</a>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Documents</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#"><i aria-hidden="true" class="fa fa-folder-o"></i> Presentations</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>