  <div class="tab-pane" id="js-tab-pane2">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#contact-list"><i aria-hidden="true" class="more-less fa fa-angle-right"></i>&nbsp;Contacts</a></h4>
          </div>
          <div class="panel-collapse collapse" id="contact-list">
            <div class="section section-default" id="status-storage">
              <div class="section-body">
                <div class="form-group">
                  <div class="icon-addon addon-md">
                      <input type="text" placeholder="Search Contacts" class="form-control" id="text">
                      <label for="text" class="glyphicon glyphicon-search" rel="tooltip" title="text"></label>
                  </div>
              </div>
                  <div class="panel-body">
                    <table class="table">
                      <tr>
                        <td>
                          <a><i class="fa fa-user" aria-hidden="true"></i> Jona Ranola</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Ronnel Sanchez</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#"><i class="fa fa-user" aria-hidden="true"></i> John Borje</a>
                        </td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>