// Icon Sizes
// -------------------------

/* makes the font 33% larger relative to the icon container */
.#{$md-css-prefix}-18 { font-size: 18px; }
.#{$md-css-prefix}-24 { font-size: 24px; }
.#{$md-css-prefix}-36 { font-size: 36px; }
.#{$md-css-prefix}-48 { font-size: 48px; }
