// Variables
// --------------------------

$md-css-prefix:       md !default;
$md-font-path:        "../fonts/material-icons" !default;
$md-font-size-base:   24px !default;
$md-line-height-base: 1 !default;

$md-dark:             rgba(0, 0, 0, 0.54) !default;
$md-dark-inactive:    rgba(0, 0, 0, 0.26) !default;
$md-light:            rgba(255, 255, 255, 1) !default;
$md-light-inactive:   rgba(255, 255, 255, 0.3) !default;
