<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% include head.html %} 
  {% include stylesheet.html %}
  <div class="active" id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" id="sidebar_menu">
        <li class="sidebar-brand">
          <a href="#" id="menu-toggle">Welcome, <strong>Jona</strong> <span class="glyphicon glyphicon-align-justify" id="main_icon"></span></a>
        </li>
      </ul>

      <ul class="nav nav-tabs nav-tabs-two nav-justified">
        <li class="active">
          <a data-toggle="tab" href="#js-tab-pane1"><i class="fa fa-folder" aria-hidden="true"></i></a>
        </li>
        <li>
          <a data-toggle="tab" href="#js-tab-pane2"><i class="fa fa-comment" aria-hidden="true"></i></a>
        </li>
      </ul>

      <div class="tab-content">
        {% include components/tab-folder-content.html %}
        {% include components/tab-chat-content.html %}
      </div>

    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
      <div class="page-content inset">
        {% include navigation.html %} 

        {{ content }} 

        {% include footer.html %}
      </div>
    </div>


  </div>
</body>
</html>